body
    font "Lucida Sans", Helvetica, Arial
    color white
    background white

#container
    width 80%
    height 90%
    min-height 1024px
    margin-left auto
    margin-right auto
    background #434
    margin-top 2em
    padding 1em
    border-radius 15px

a
    color #99f

#buttons a
    padding 3px
    border-radius 5px
    color white
    background #966
    margin 1em
    text-decoration none
    min-width 84px
    display inline-block

#buttons
    text-align center

#header
    text-align center

#footer
    padding-top 100px
    font-size small
    color #966
