body
    font "Lucida Sans", Helvetica, Arial
    color white
    background white url('/images/bg_texture.png')

h1
    color white
    text-shadow #d45500 2px 2px 3px

#container
    width 80%
    height 90%
    min-height 1024px
    margin-left auto
    margin-right auto
    background #434
    margin-top 2em
    padding 1em
    border-radius 15px

a
    color #e61

#buttons a
    padding 3px
    border-radius 5px
    color white
    background #d45500
    margin 1em
    text-decoration none
    min-width 84px
    display inline-block

#buttons
    text-align center

#header
    text-align center

#footer
    padding-top 100px
    font-size small
    color #966
